body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

nav{
    background: #EB3349 !important;
    &.navbar{
        margin-bottom: 32px;
        a{
            color: white !important;
        }

        .navbar-nav{
            .nav-item{
                &.active{
                    // color: yellow !important;
                    font-weight: bold;
                }
            }
        }
    }
}

.card{
    position: relative;
    border: 0;
    &.productCard{
        width: 100%;
        margin-bottom: 30px;
        box-shadow: 0 20px 25px -10px rgba(0,0,0,.1), 
        0 10px 10px -5px rgba(0,0,0,.04);
    }
    .addProductsBtn{
        box-shadow: 0 20px 25px -10px rgba(0,0,0,0.2);
        background: #EB3349;
        border: 1px solid #EB3349; 
        box-shadow: 0 8px 10px -5px #EB3349;
        position: absolute;
        bottom: 145px;
        right: 16px;
        &:focus, &:hover{
            box-shadow: none;
            border: none;
        }
        i{
            color: white;
        }
    }
}